.result-image,
.result-description {
  display: inline-block;
  vertical-align: middle;
}

.result-description {
  width: calc(100% - 7em);
}

.result-image {
  height: 3em;
  width: 3em;
}

.result-image span {
  font-size: 2em;
}

.result-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5em;
}

.multi-select,
.simple-select {
  display: block;
  z-index: 9999999 !important;
}

.simple-select .value-wrapper {
  max-width: calc(100% - 1em);
}

.selection-step {
  pointer-events: none;

  -webkit-filter: opacity(0.5) blur(0.1em);
  filter: opacity(0.5) blur(0.1em);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.selection-step.enabled {
  pointer-events: all;

  -webkit-filter: opacity(1) blur(0em);
  filter: opacity(1) blur(0em);
}

.react-selectize-search-field-and-selected-values {
  max-width: calc(100% - 3em);
}
